*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background-image: url('../img/background.jpg');
    font-family: Verdana;
    background-size: auto 100vh;
    height: 100vh;
    backdrop-filter: blur(4px);
    font-size: 18px;
}

/*tamanho minimo da tela*/
@media (min-width: 400px){
  body {
  font-size: 12px;
  }
}
@media (min-width: 600px){
  body {
    font-size: 18px;
  }
}

header {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu{
    background-color: #473461;
    position: fixed;
    width: 100vw;
    top: 0;
  }
  .menu a {
    display: block;
    padding: 10px 20px;
  }
  a {
    text-decoration: none; 
    color: teal;
  }
  a:hover {
    text-decoration: underline;
  }
  .menu li {
    list-style: none   
  }
  .menu ul {
    display: flex;
    justify-content: space-around
  }
  
  .site-title {
    text-align: center;
    color: #160c49;
  }
  .site-subtitle{
    text-align: center;
    color: #160c49;
    text-decoration: underline
  }
  .img-portfolio {
    width: 180px;
    height: 180px;
  }